---
title: "Welcome to Infinite Outdoors"
preheader: "America's premier outdoor access network"
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-slate-50
---

<x-main>
  <div class="container my-12 mx-auto">
    <div
      class="container max-w-[800px] m-auto p-12 border rounded-md font-sans"
    >
      <div class="flex">
        <img
          src="images/logo.png"
          alt="Welcome to Infinite Outdoors"
          class="w-auto h-16 mx-auto"
        />
      </div>
      <div
        class="flex flex-col mt-12 text-white bg-member-benefits py-16 rounded-md bg-cover bg-no-repeat"
      >
        <h1 class="text-3xl font-bold text-center">
          Welcome to Infinite Outdoors
        </h1>
        <p class="mt-4 text-lg text-center">
          America's premier outdoor access network
        </p>
      </div>
      <div class="grid grid-cols-3 gap-8 p-2">
        <a
          href="https://infiniteoutdoorsusa.com/blog"
          class="bg-io-dark-brown text-white rounded-md px-2 py-1.5 hover:opacity-70 text-center transition-all font-semibold no-underline"
        >
          Read our blog
        </a>
        <a
          href="https://infiniteoutdoorsusa.com/become-a-member"
          class="bg-io-dark-brown text-white rounded-md px-2 py-1.5 hover:opacity-70 text-center transition-all font-semibold no-underline"
        >
          Learn more
        </a>
        <a
          href="https://infiniteoutdoorsusa.com/faq"
          class="bg-io-dark-brown text-white rounded-md px-2 py-1.5 hover:opacity-70 text-center transition-all font-semibold no-underline"
        >
          FAQ
        </a>
      </div>
      <div class="px-8 py-2">
        <p class="text-slate-600 text-center">
          As a member, get access to 320+ private properties covering over
          1,000,000 acres for hunting and fishing. Pay as you go and get the
          properties all to yourself, every time.
        </p>
      </div>
      <div class="w-16 bg-slate-300 h-1 m-auto rounded-full"></div>
    </div>
  </div>
</x-main>
